{% extends "base.html" %}
{% block contents %}
<div class="row row-cols-1 row-cols-lg- align-items-stretch g-4 py-5">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{post.title_course}}</h5>
        <h5 class="card-title">{{post.day}}</h5>
      <h5 class="card-title">{{post.time}}</h5>
      
      {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
    </div>
  </div>
</div>
</div>
{% endblock contents %}1