<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author List</title>
</head>
<body>
    <h1>Number of authors : {{authcount}}</h1>
    <h1>Average author rating : {{avgrating}}</h1>
    <ul>
        {% for auth in authors %}
        {% if auth.slug %}
        <li>
            <a href="{% url 'AuthorInfoUsingSlug' auth.slug %}">{{ auth.first_name }} {{ auth.last_name }}</a>
        </li>
        {% else %}
        <li>
            {{ auth.first_name }} {{ auth.last_name }} (Slug missing)
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
